body {
    background-color:aliceblue;
    margin: 0px;
    padding: 0px;
    min-width: fit-content;
}

    header {
        font-family: "Playfair Display", serif;
        padding: 0px;
        margin: 0px;
    }


        header div {
            width: auto;
            height: auto;
            background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Raffael_058.jpg/1200px-Raffael_058.jpg");
            background-position-x: 50%;
            background-position-y: 700px;
            min-width: fit-content;
        }

        header h1 {
            padding: 0px 10% 0px 10%;
            margin: 0% 20% 0% 5%;
            min-width: fit-content;
            background-color: rgba(255, 255, 255, 0.3);
        }

        header h2 {
            padding: 0px 10px 0px 10px;
            margin-right: 10%;
            margin-top: 0px;
            padding-right: 0px;
            background-color: rgba(255, 255, 255, 0.3);
        }

    img {
        position: relative;
        left: 15px;
        top: 5px;
        z-index: 1;
        width: 25px;
        padding-right: 100% - 25px;
    }

    .logo {
        background-image: linear-gradient(rgb(227, 237, 253), rgb(173, 181, 196));
    }

    nav {
        text-align: center;
        min-width: 160px;
    }

        nav ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            background-color: white;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }

        nav div {
            flex-grow: 1;
        }

        nav div li {
            background-color: rgb(224, 226, 238);
            margin: 2px;
            flex-grow: 1;
        }

         nav div li:hover {
        background-color: rgb(234, 240, 240);
        }
        
        .dropdown_content {
            display: none;
            position: absolute;
        }

        .stoic_dropdown:hover .stoic_dropdown_content {
            display: block;
        }

        .epic_dropdown:hover .epic_dropdown_content {
            display: block;
        }

        .scept_dropdown:hover .scept_dropdown_content {
            display: block;
        }

        .cynic_dropdown:hover .cynic_dropdown_content {
            display: block;
        }
        
        li a {
            display: inline-block;
            text-decoration: none;
            color: black;
            width: 100%;
            height: 100%;
        }

    main {
        margin: 0px 7% 40px 7%;
        background-color: rgb(219, 229, 238);
        padding: 10px;
    }

        .vragen {
            font-style: italic;
        }
        
        article h3 {
            text-decoration: underline;
        }

        main p {
            margin-left: 5px;
        }

    footer {
        min-height: 150px;
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Raffael_058.jpg/1200px-Raffael_058.jpg");
        background-position-x: 50%;
        background-position-y: 300px;
        padding: 7px;
    }

        address {
            background-color: rgba(255, 255, 255, 0.4);
            width: 50%;
            min-width: fit-content;
            height: 100%;
            padding: 0px 5px 0px 5px;
        }

@media only screen and (max-width: 300px) {

    header h1 {
        margin: 0px;
    }

    nav li {
        width: 99%;
    }

    main {
        margin: 0px;
    }
}